<section id="section-about" class="clearfix about">

    <div class="heading center">
        <h2 class="heading__main">Meet the Doctors</h2>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="heading__byline">Welcome to one of Washington's most advanced dental practices… right here
                        in Yakima! Chalet Dental would like to welcome you to a fantastic dental experience! Our team
                        will make you and your family more comfortable than you ever thought possible!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container bio-card__container hidden-xs">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="bio-card">
                    <div class="bio-card__image">
                        <img src="/assets/jeff.jpg" alt="Jeffrey S. Trammell, DDS">
                    </div>
                    <h6 class="bio-card__title">Jeffrey S. Trammell, <span class="bio-card__title--small">DDS</span>
                    </h6>
                    <p class="bio-card__copy">Dr. Trammell is concerned not only about oral health but also with diet
                        and fitness, and how these aspects of a person's life can positively affect oral health. Jeff is
                        a lifelong resident of Yakima, and likes to give back to the community he grew up in by
                        participating in dental health education to community pre-school, kindergarten and elementary
                        schools. Dr. Trammell also participates in dental mission trips to Haiti and provides volunteer
                        dentistry to military Veterans and the Union Gospel Mission. Dr. Trammell earned his DDS at the
                        University of Washington School of Dentistry.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="bio-card">
                    <div class="bio-card__image">
                        <img src="/assets/chris.jpg" alt="Christopher P. Trammell, DDS">
                    </div>
                    <h6 class="bio-card__title">Christopher P. Trammell, <span
                                class="bio-card__title--small">DDS</span></h6>
                    <p class="bio-card__copy">When not serving the people of Yakima, Washington - Dr. Trammell
                        donates his time at the Yakima CityFest and at the Give Kids a Smile Day as a volunteer
                        dentist and at local kindergarten and elementary schools educating children about dental
                        hygiene. Dr. Trammell has traveled as far as Africa, Mexico, Bolivia and Northern Ireland in
                        order to provide care to underprivileged children and adults. Dr. Trammell earned his DDS at
                        the University of Washington School of Dentistry</p>
                </div>
            </div>
            <div class="clearfix hidden-md hidden-lg"></div>
            <div class="col-sm-6 col-md-3">
                <div class="bio-card">
                    <div class="bio-card__image">
                        <img src="/assets/tim.jpg" alt="Timothy G. Gutmann, DDS">
                    </div>
                    <h6 class="bio-card__title">Timothy G. Gutmann, <span class="bio-card__title--small">DDS</span>
                    </h6>
                    <p class="bio-card__copy">Dr. Gutmann has advanced training in implant dentistry, bone grafting,
                        endodontics, oral pathology and oral surgery and is the past President of the Yakima Valley
                        Dental Society. He has participated in the Give Kids a Smile Day as well as at the Yakima
                        CityFest as a volunteer dentist. Dr. Gutmann is a Union Gospel Mission volunteer dentist and
                        has served as a dentist to the Army National Guard. Dr. Gutmann earned his DDS at the
                        University of Washington School of Dentistry.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="bio-card">
                    <div class="bio-card__image">
                        <img src="/assets/ross.jpg" alt="Ross D. Austin, DDS">
                    </div>
                    <h6 class="bio-card__title">Ross D. Austin, <span class="bio-card__title--small">DDS</span>
                    </h6>
                    <p class="bio-card__copy">Involvement in the community is paramount to Dr. Austin. He is the
                        past President of the Yakima Valley Dental Society and past board member of EPIC. Dr. Austin
                        also gives back by educating students at the Yakima Covenant Church preschool and St. Paul's
                        Cathedral School. He is a volunteer dentist at the Union Gospel Mission and has volunteered
                        throughout Montana, including Helena and Bozeman, and the Montana Big Brothers Big Sisters.
                        Dr. Austin earned his DDS at the University of Washington School of Dentistry.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="full-width-carousel-arrows">
        <div class="container">
            <div class="js-team-carousel owl-carousel hidden-sm hidden-md hidden-lg">
                <div class="bio-card">
                    <div class="bio-card__image">
                        <img src="/assets/jeff.jpg" alt="Jeffrey S. Trammell, DDS">
                    </div>
                    <h6 class="bio-card__title">Jeffrey S. Trammell, <span class="bio-card__title--small">DDS</span>
                    </h6>
                    <p class="bio-card__copy">Dr. Trammell is concerned not only about oral health but also with diet
                        and fitness, and how these aspects of a person's life can positively affect oral health. Jeff is
                        a lifelong resident of Yakima, and likes to give back to the community he grew up in by
                        participating in dental health education to community pre-school, kindergarten and elementary
                        schools. Dr. Trammell also participates in dental mission trips to Haiti and provides volunteer
                        dentistry to military Veterans and the Union Gospel Mission. Dr. Trammell earned his DDS at the
                        University of Washington School of Dentistry.</p>

                </div>
                <div class="bio-card">
                    <div class="bio-card__image">
                        <img src="/assets/chris.jpg" alt="Christopher P. Trammell, DDS">
                    </div>
                    <h6 class="bio-card__title">Christopher P. Trammell, <span
                                class="bio-card__title--small">DDS</span></h6>
                    <p class="bio-card__copy">When not serving the people of Yakima, Washington - Dr. Trammell
                        donates his time at the Yakima CityFest and at the Give Kids a Smile Day as a volunteer
                        dentist and at local kindergarten and elementary schools educating children about dental
                        hygiene. Dr. Trammell has traveled as far as Africa, Mexico, Bolivia and Northern Ireland in
                        order to provide care to underprivileged children and adults. Dr. Trammell earned his DDS at
                        the University of Washington School of Dentistry</p>
                </div>
                <div class="bio-card">
                    <div class="bio-card__image">
                        <img src="/assets/tim.jpg" alt="Timothy G. Gutmann, DDS">
                    </div>
                    <h6 class="bio-card__title">Timothy G. Gutmann, <span class="bio-card__title--small">DDS</span>
                    </h6>
                    <p class="bio-card__copy">Dr. Gutmann has advanced training in implant dentistry, bone grafting,
                        endodontics, oral pathology and oral surgery and is the past President of the Yakima Valley
                        Dental Society. He has participated in the Give Kids a Smile Day as well as at the Yakima
                        CityFest as a volunteer dentist. Dr. Gutmann is a Union Gospel Mission volunteer dentist and
                        has served as a dentist to the Army National Guard. Dr. Gutmann earned his DDS at the
                        University of Washington School of Dentistry.</p>
                </div>
                <div class="bio-card">
                    <div class="bio-card__image">
                        <img src="/assets/ross.jpg" alt="Ross D. Austin, DDS">
                    </div>
                    <h6 class="bio-card__title">Ross D. Austin, <span class="bio-card__title--small">DDS</span>
                    </h6>
                    <p class="bio-card__copy">Involvement in the community is paramount to Dr. Austin. He is the
                        past President of the Yakima Valley Dental Society and past board member of EPIC. Dr. Austin
                        also gives back by educating students at the Yakima Covenant Church preschool and St. Paul's
                        Cathedral School. He is a volunteer dentist at the Union Gospel Mission and has volunteered
                        throughout Montana, including Helena and Bozeman, and the Montana Big Brothers Big Sisters.
                        Dr. Austin earned his DDS at the University of Washington School of Dentistry.</p>
                </div>
            </div>
        </div>
    </div>

    {% include 'molecules/associations__carousel.twig' %}

</section>

