<section id="section-care-credit">
    <div class="flex--wrapper">
        <div class="financing">
            <h4 class="text">Financing Available:</h4>
        </div>
        <div class="logo">
            <a href="#" data-toggle="modal" data-target="#care-credit-modal"><img src="/assets/care-credit.png" alt="Care Credit"></a>
        </div>
    </div>
</section>

<div class="modal fade" id="care-credit-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title">CareCredit</h2>
            </div>
            <div class="modal-body">
                <p class="modal-copy">CareCredit is a healthcare credit card designed for your health, beauty, and wellness needs. It's a way to pay for the costs of many treatments and procedures and allows you to make convenient monthly payments.</p>
                <a href="https://www.carecredit.com/" target="_blank" class="btn">More Information</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->