<footer id="footer" class="footer ">

    <div class="footer-padding">
        <div class="flex--wrapper">
            <div class="text">
                {#<p class="notd tyson-steele-text">Copyright &copy; <span class="js-copyright-year">2017</span> All Rights Reserved by <a href="http://www.tysonsteele.com/" target="_blank" class="tysonsteele">Tyson&nbsp;Steele&nbsp;Associates</a></p>#}
                <p class="notd tyson-steele-text">Copyright &copy; 2017 All Rights Reserved by
                    <a href="http://www.tysonsteele.com/" target="_blank" class="tysonsteele">Tyson&nbsp;Steele&nbsp;Associates</a>
                    {#| <a href="/privacy.html" target="_blank" class="accessibility">Notice of Privacy Practices</a>#}
                    |<a href="/accessibility.html" target="_blank" class="accessibility">Accessibility&nbsp;Statement</a>
                </p>
            </div>
            {% include 'molecules/social-media-links.twig' %}
        </div>
    </div>

</footer><!-- #footer end -->