<section id="section-forms">
    <div class="container center">
        <div class="heading">
            <h2 class="heading__title">New Patient Forms</h2>
            {#<h5 class="heading__byline">Please download and complete the following forms<br>before your scheduled appointment</h5>#}
        </div>
        <p class="forms__copy">Filling out this form will save you time when you visit.</p>
        <div class="forms__btn-wrapper">
            <a href="/privacy-notice.pdf" target="_blank" class="btn btn--style-three">Notice of Privacy Practices</a>
            {#<div class="line-break"></div>#}
            {#<a href="/Welcome_Letter___Financial_Policy_for_Website.pdf" target="_blank" class="btn btn--style-three">MEDICAL HISTORY</a>#}
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-push-1">
                <p class="forms__copy">Adobe Acrobat or another PDF reader is required to view our privacy practices information. If you have trouble seeing the document or need accommodation, please contact our office.
                    <a href="https://get.adobe.com/reader/" target="_blank">Click here to download the Acrobat Acrobat® software.</a></p>
            </div>
        </div>
    </div>
</section>
