<section id="section-forms" class="section-forms--button-grid">
    <div class="container">
        <div class="heading">
            <h2 class="heading__title">Patient Forms</h2>
            <p class="heading__copy">Filling out these forms will save you time when you visit. Please provide our office
                with your patient registration and health history forms when you arrive for your first scheduled
                appointment.</p>
            <p class="heading__copy">Adobe Acrobat is required to view the patient disclosure, health history form, and
                the motivational charts. If you have trouble seeing the forms or need accommodation, please contact our
                office. <a href="https://get.adobe.com/reader/" target="_blank">Click here to download the Acrobat software.</a></p>
        </div>
        <div class="form-buttons">
            <div class="form-button">
                <a href="https://www.ident.ws/template_include/new_patient_sign_in.do?site=10383&practiceId=22446" class="btn btn--form" target="_blank">New Patient Forms</a>
            </div>
            <div class="form-button">
                <a href="https://www.ident.ws/template_include/pi_login.jsp?site=10383&practiceId=22446&page=Patient+Information" class="btn btn--form" target="_blank">Existing Patient Forms</a>
            </div>
            <div class="form-button">
                <a href="/assets/forms/patient-health-history.pdf" class="btn btn--form" target="_blank">Patient Disclosure</a>
            </div>
            <div class="form-button">
                <a href="/assets/forms/patient-health-history.pdf" class="btn btn--form" target="_blank">Patient Health History</a>
            </div>
        </div>
        <div class="sub-header">
            <h3 class="sub-header__title">Click Below to Download a Motivational Chart</h3>
        </div>
        <div class="form-buttons">
            <div class="form-button">
                <a href="assets/forms/brush-my-teeth.pdf" class="btn btn--form" target="_blank">Brush My Teeth</a>
            </div>
            <div class="form-button">
                <a href="/assets/forms/no-thumb-sucking.pdf" class="btn btn--form" target="_blank">No Thumb Sucking</a>
            </div>
            <div class="form-button">
                <a href="/assets/forms/brush-my-teeth-blank.pdf" class="btn btn--form" target="_blank">Brush My Teeth-Blank</a>
            </div>
            <div class="form-button">
                <a href="/assets/forms/lose-the-pacifier.pdf" class="btn btn--form" target="_blank">Lose the Pacifier</a>
            </div>
        </div>
    </div>
</section>
