<section id="section-forms">
    <div class="container center">
        <div class="heading">
            <h2 class="heading__title">New Patient Forms</h2>
            {#<h5 class="heading__byline">Please download and complete the following forms<br>before your scheduled appointment</h5>#}
        </div>
        <div class="forms__btn-wrapper">
            <a href="/privacy-notice.pdf" target="_blank" class="btn btn--style-three">Download Privacy PDF</a>
            {#<div class="line-break"></div>#}
            {#<a href="/Welcome_Letter___Financial_Policy_for_Website.pdf" target="_blank" class="btn btn--style-three">MEDICAL HISTORY</a>#}
        </div>
        <p class="forms__copy">Adobe Acrobat is required to view the forms. If you have trouble seeing the document or need accommodation, please contact our office.
            <br><a href="https://get.adobe.com/reader/" target="_blank">Click here to download the Acrobat Acrobat® software.</a></p>
    </div>
</section>
