<!-- Header
============================================= -->
<header id="header" class="full-header{% if transparent %} {{ "full-header--transparent" }}{% endif %}">

    <div id="header-wrap" >

        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

        <!-- Logo
  ============================================= -->
        <div id="logo">
            <a href="#" data-scrollto="#header" data-offset="60">
                <div>
                    <img src="assets/logo.svg" alt="{{ mainDocter }}">
                </div>
            </a>
        </div><!-- #logo end -->

        <!-- Primary Navigation
  ============================================= -->
        <nav id="primary-menu">

            {#<p class="menu-copy hidden-sm hidden-xs">New Patients Call: <a href="tel:{{ newPhone }}" class="menu-copy__phone">{{ newPhoneNoBreak }}</a></p>#}
            <ul class="one-page-menu navbar" data-easing="easeInOutExpo" data-speed="1500">
                <li><a href="#" data-offset="80" data-href="#section-specials">Special Offers</a></li>
                <li><a href="#" data-offset="80" data-href="#section-insurance">Membership Savings</a></li>
                <li><a href="#" data-offset="80" data-href="#section-reviews">Reviews</a></li>
                <li><a href="#" data-offset="80" data-href="#section-about">Meet the Team</a></li>
                <li><a href="#" data-offset="80" data-href="#section-services">Services</a></li>
                <li><a href="#" data-offset="80" data-href="#section-tour">Office Tour</a></li>
                <li><a href="#" data-offset="80" data-href="#section-forms">Forms</a></li>
                <li><a href="#" data-offset="80" data-href="#section-location">Location</a></li>
            </ul>

            <!-- Top Searchh
    ============================================= -->

        </nav><!-- #primary-menu end -->

        <!--</div>-->
    </div>

</header><!-- #header end -->
<div class="clear"></div>