<section id="section-insurance">
    <div class="container">
        <div class="row">
            <div class="heading center">
                <h2 class="title">No Insurance?</h2>
                <h3 class="sub-title">Our Patients Don't Need It!</h3>
            </div>
        </div>
        <div class="row flex-wrapper">
            <div class="flex-item center">
                <h3 class="preventative-care">Get your preventive care<br>for a low monthly fee.</h3>
            </div>
            <div class="flex-item center">
                <p class="insurance__copy">Exclusively for our uninsured patients.</p>
                <p class="insurance__copy">Make easy monthly payments for your preventive care.</p>
                <p class="insurance__copy insurance__copy--last">Save money on your treatment.</p>
            </div>
        </div>
        <div class="row center">
            <a class="btn" href="{{ insuranceLink }}" target="_blank">Learn More</a>
        </div>
    </div>

    <img src="/assets/insurance-bg.jpg" alt="{{ mainDoctor }}'s happy patients" class="insurance__image">
</section>

