<div class="marquee">
    <img src="/assets/trammel-group.jpg" alt="{{ mainDoctor }}'s team">
</div>
{% include 'molecules/slab__care-credit.twig' %}
<section id="section-location">
    <div class="container">
        <div class="row">
            <div class="location location__two-column">
                <div class="location__card--wrapper">

                    {% include 'molecules/location-card__simple.twig' %}

                </div>
                <div class="location__map">

                    {% include 'atoms/google-map.twig' %}

                </div>
            </div>
        </div>
    </div>
</section>