<div class="nav-grid__section-wrapper">
    <div class="container">
        <div class="row nav-grid">
            <a href="#" data-offset="80" data-scrollto="#section-services" id="ng__family-dentistry" class="ng__item"></a>
            <a href="#" data-offset="80" data-scrollto="#section-about" id="ng__meet-the-doctor" class="ng__item"></a>
            <a href="#" data-offset="80" data-scrollto="#section-insurance" id="ng__insurance" class="ng__item"></a>
            <a href="#" data-offset="80" data-scrollto="#section-reviews" id="ng__reviews" class="ng__item"></a>
        </div>
    </div>
</div>
