<section id="section-specials">

    <div class="container clearfix">
        <div class="row">
            <div class="offers col-md-6">
                <div class="heading">
                    <h2 class="title">Limited Time<br>Spring Specials</h2>
                    {#<h4 class="sub-title-two">for new uninsured patients only</h4>#}
                    <h3 class="sub-title">Offers End June 20, 2017</h3>
                </div>
                <div class="offer-card">
                    <div class="offer-card__price-wrapper">
                        <h4 class="offer-card__price">65</h4>
                        <p class="offer-card__price-sub">Save $283</p>
                    </div>
                    <div class="offer-card__text-wrapper">
                        <h3 class="offer-card__title">New Patient Dental&nbsp;Exam</h3>
                        <h5 class="offer-card__copy">Includes comprehensive exam by the doctor and necessary x&#8209;rays. (D0150, D0210)</h5>
                        {#<p class="offer-card__codes">(D0150, D0210)</p>#}
                    </div>
                </div>
                <div class="offer-card">
                    <div class="offer-card__price-wrapper">
                        <h4 class="offer-card__price">45</h4>
                        <p class="offer-card__price-sub">Save $60</p>
                    </div>
                    <div class="offer-card__text-wrapper">
                        <h3 class="offer-card__title">New Patient Dental&nbsp;Cleaning</h3>
                        <h5 class="offer-card__copy">Includes a professional dental cleaning. A new patient dental exam is required. Does not include periodontal therapy. (D0150, D0210)</h5>
                        {#<p class="offer-card__codes">(D1110)</p>#}
                    </div>
                </div>
                <div class="offer-card">
                    <div class="offer-card__price-wrapper">
                        <h4 class="offer-card__price">99</h4>
                        <p class="offer-card__price-sub">Save $265</p>
                        {#<h4 class="offer-card__free">FREE</h4>#}
                    </div>
                    <div class="offer-card__text-wrapper">
                        <h3 class="offer-card__title">New Children’s Cleaning&nbsp;&&nbsp;Exam</h3>
                        <h5 class="offer-card__copy">Patients 12 and under receive a professional dental cleaning, fluoride treatment, needed  x&#8209;rays, and a comprehensive exam. (D0150, D0274, D1208, D1120)</h5>
                        {#<p class="offer-card__codes">(D0150, D0272, D1120, D1208)</p>#}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="specials-below hidden-lg hidden-md">
        <img src="/assets/offers-bkgd-mobile.jpg" alt="Young girl with a great smile">
    </div>

</section>