<section id="section-video-reviews" class="video-review">
    <div class="heading">
        <h2 class="heading__title">Video Reviews</h2>
        <p class="heading__byline">Select a video below to watch</p>
    </div>

    <div class="container">
        <div class="video-review__wrapper">
            <a data-target="#video-review-modal--one" class="video-review__item" href="#" data-toggle="modal" >
                <img src="assets/video-review/migrain-relief-piccolo.jpg" alt="video review preview image">
            </a>
            <a data-target="#video-review-modal--two" class="video-review__item" href="#" data-toggle="modal" >
                <img src="assets/video-review/testimonial-sue-piccolo.jpg" alt="video review preview image">
            </a>
            <a data-target="#video-review-modal--three" class="video-review__item" href="#" data-toggle="modal" >
                <img src="assets/video-review/testimonial-lori-piccolo.jpg" alt="video review preview image">
            </a>
        </div>
    </div>

    <div id="video-review-modal--one" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Migraine Relief</h3>
                </div>
                <div class="modal-body">
                    <iframe id="video-review-iframe--one" width="560" height="315" src="https://www.youtube.com/embed/qZ1uKLvUkKM" allowfullscreen></iframe>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="video-review-modal--two" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Sue's Testimonial</h3>
                </div>
                <div class="modal-body">
                    <iframe id="video-review-iframe--two" width="560" height="315" src="https://www.youtube.com/embed/O0-wi44NipQ" allowfullscreen></iframe>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="video-review-modal--three" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Lori's Testimonial</h3>
                </div>
                <div class="modal-body">
                    <iframe id="video-review-iframe--three" width="560" height="315" src="https://www.youtube.com/embed/nrCxKsv18q8" allowfullscreen></iframe>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</section>