<section id="section-reviews" class="parallax">
    <h2 class="heading">See What Our Patients are Saying</h2>
    {#<h4 class="heading__byline center">Real reviews from some of our patients.</h4>#}

    <div class="container">
        <div class="row">
            <div class="col-sm-12 center">
                <div id="bf-revz-widget-{{ birdeye }}" style="-webkit-overflow-scrolling:touch;">
                    <div class="bf-dv"><span class="bf-spn">Reviews powered by <a class="bf-pro" href="http://www.tysonsteele.com/" target="_blank">Tyson Steele Associates</a></span></div>
                </div>
            </div>
        </div>
    </div>
    {#<!--<div class="mobile-image hidden-lg hidden-md hidden-sm">-->#}
    {#<!--<img src="/assets/reviews-bg.jpeg" alt="Happy Couple with nice teeth">-->#}
    {#<!--</div>-->#}
</section>