<section id="section-services">

    <div class="smile-slab">

        <div class="heading">
            <div class="container">
                <h2 class="heading__title">Our Services</h2>
                <h4 class="heading__byline">Learn more about our treatments and services.</h4>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="smile-slab__card col-sm-6 ">
                    <h2 class="smile-slab__title">Smile Makeovers</h2>
                    <p class="smile-slab__copy">Cosmetic dentistry is one of the most cost-effective ways to improve your appearance. A beautiful, bright, healthy smile will increase self-confidence and overall life satisfaction. Cosmetic dentistry includes things like tooth-colored restorations, dental implants, and crowns. We have many options, so please call us today!</p>
                </div>
            </div>
        </div>
        <div class="hidden-lg hidden-md hidden-sm slab-mobile-image">
            <img src="assets/services/smile-makeovers.jpg" alt="Happy dental implant patient">
        </div>
    </div>

    <div class="implant-slab">
        <div class="container">
            <div class="flex-wrapper">
                <div class="image">
                    <img src="/assets/services/implants.jpg" alt="Happy implant patient">
                </div>
                <div class="copy">
                    <h2 class="copy__title">3D Guided Dental Implants</h2>
                    <p class="copy__text">Dental implants are a great option for replacing missing teeth, improving
                        chewing ability, eliminating bridges, and replacing dentures.</p>
                    <p class="copy__text">Several implants may provide a base for a series of artificial teeth known as
                        a fixed bridge. Implants can even be used to secure a full set of removable dentures for people
                        who have no remaining natural teeth.</p>
                    <ul>
                        <li>Precision implant placement with minimal surgery</li>
                        <li>Shorter restorative time for the final crown when used with CEREC®</li>
                        <li>Patients go to work the same day</li>
                    </ul>
                </div>
            </div>
            <img src="/assets/services/implants.jpg" alt="Happy implant patient" class="implant-slab__mobile-image">
            <p class="implant__additional-text">My implant was placed in less than an hour with no discomfort, no flapping of my gums, and no stitches. I
                went to work immediately after the procedure with no pain! I would give Calvin Dental Associates a five
                out of a five-star rating. They are top notch in my book!” &#8209;Debra&nbsp;DiMarco</p>
        </div>
    </div>

    <div class="heading">
        <div class="container">
            <h2 class="heading__title">More Services</h2>
            <h5 class="heading__select-a-link">Select a link below to learn more.</h5>
        </div>
    </div>

    <div class="container">
        {% include 'molecules/services__pyramid-grid.twig' %}
    </div>

    {% include 'molecules/services__modals.twig' %}


</section>