<section id="section-services">

    <div class="heading">
        <div class="container">
            <h2 class="heading__title">Our Services</h2>
            {#<h4 class="heading__byline">Learn more about our treatments and services.</h4>#}
            <p class="heading__copy">By actively preventing disease and decay through regular home care, professional
                dental cleanings and regular exams, we’ll partner with you to maintain your healthy, beautiful smile.
                Prevention is always better than treatment, so if it’s been a while since you’ve seen a dentist, please
                give us a call or <a href="#" data-target="#requestAppointmentForm" data-toggle="modal">click to request an appointment.</a></p>
        </div>
    </div>

    {% include 'molecules/services__carousel.twig' %}

    <div class="container">
        {% include 'molecules/services__pyramid-grid.twig' %}
    </div>

    {% include 'molecules/services__modals.twig' %}


</section>