<section id="section-gallery" class="gallery">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-push-6">
                <h2 class="gallery__title">Smile Gallery</h2>
                <p class="gallery__copy">View a gallery of amazing smile transformations. Whether you need a full-mouth restoration or a quick smile-whitening we can help you to achieve the smile you've always dreamed of having.</p>
                <a class="btn btn--style-three" href="#" data-target="#smile-gallery-modal" data-toggle="modal">View Smile Gallery</a>
            </div>
        </div>
    </div>
    <div class="mobile-insurance-fix">
        <img src="/assets/smile-gallery-mobile.jpg" alt="A great smile">
    </div>
</section>
{#{% include 'a' %}#}

<div id="smile-gallery-modal" class="modal fade carousel-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Smile Gallery</h3>
            </div>
            <div class="modal-body">
                <div class="owl-carousel js-gallery-carousel">
                    <div class="gallery-slide">
                        <img src="assets/gallery/01.jpg" alt="before and after image of great dental work" class="gallery-slide__image">
                        <p class="gallery-slide__text">An “Old School” Bridge that illustrates the replacement of multiple missing teeth, gum and bone tissue. The bridge is unique in that not only does it replace three missing teeth it also replaces missing gum and bone tissue.   This patient lost three teeth in a row and the tooth loss also caused bone resorption and gum recession in the area.   “Pink” porcelain was used at the gum line to fill in the spaces that would been unsightly and caused food traps for the patient.</p>
                    </div>
                    <div class="gallery-slide">
                        <img src="assets/gallery/02.jpg" alt="before and after image of great dental work" class="gallery-slide__image">
                        <p class="gallery-slide__text">This is a recent case involving a female patient who had a fall and damaged her front teeth.  Initially, tooth-colored composite fillings were used to fix the chipped front teeth while she healed. You can see the fractures in the front teeth due to the impact, she is fortunate still have her teeth. Note:  The patient also shows a lot of her gum tissue when she smiles. The excess display of gum tissue and considered a “Gummy Smile” and is only corrected if it is an issue to the patient. The patient did not mind the excess display of her gums and wanted to improve the appearance of her teeth in her smile. The treatment in this case included six all porcelain or ceramic e.max crowns.</p>
                    </div>
                    <div class="gallery-slide">
                        <img src="assets/gallery/03.jpg" alt="before and after image of great dental work" class="gallery-slide__image">
                        <p class="gallery-slide__text">This is a very young patient who was born with  dark brown discolorations on her front teeth.  We carefully removed the discolored part of her teeth and use Tooth Colored Composite filling material to Veneer the surface of the tooth.  The result was dramatic and the patient was happy.  This technique of using composite to directly veneer the tooth is less durable than Porcelain or Ceramic Veneers. In young patients composite veneers will last until the patient is in adulthood.</p>
                    </div>
                    <div class="gallery-slide">
                        <img src="assets/gallery/04.jpg" alt="before and after image of great dental work" class="gallery-slide__image">
                        <p class="gallery-slide__text">This case is a great example of the dramatic changes that can be made to a smile in a few weeks time. The patient wanted to have her smile improved due to yellowing tooth colored fillings and chipping of her front teeth.   At the time this case was completed in 2002  Porcelain Crowns were not routinely used for front teeth.  To achieve the best possible esthetic results Porcelain or Ceramic crowns were used.  This patient is still in my practice and we were able to take a 14 year follow up photograph this year.  The crowns still look amazing and she is still smiling!</p>
                    </div>
                    <div class="gallery-slide">
                        <img src="assets/gallery/05.jpg" alt="before and after image of great dental work" class="gallery-slide__image">
                        <p class="gallery-slide__text">This is a special case for me since it represents my first Smile Makeover over 20 years ago! This patient at the time was turning 50 and wanted to improve his smile.  The treatment provide was six Porcelain Veneers on his front teeth.   This patient is still a patient in my practice and his Veneers are still providing him will a great smile!</p>
                    </div>
                    <div class="gallery-slide">
                        <img src="assets/gallery/06.jpg" alt="before and after image of great dental work" class="gallery-slide__image">
                    </div>
                    <div class="gallery-slide">
                        <img src="assets/gallery/07.jpg" alt="before and after image of great dental work" class="gallery-slide__image">
                        <p class="gallery-slide__text">This is a great example of “Old School” cosmetic smile makeover completed over 20 years ago!  The treatment illustrates the amazing cosmetic changes that can accomplished with bridges.  The patient had severe gum disease (Periodontal Disease) causing his front teeth to be loose. The gum disease was too severe to save his front teeth and they were removed and he was given a provisional tooth colored bridge (temporary) for 4 months to allow complete healing.  The patient did not go without teeth for even 1 day.  The provisional bridge was placed at the day his teeth were removed and allowing him to chew and talk that same day!  After healing his permanent bridge was placed within two weeks.</p>
                    </div>
                    <div class="gallery-slide">
                        <img src="assets/gallery/08.jpg" alt="before and after image of great dental work" class="gallery-slide__image">
                        <p class="gallery-slide__text">This case illustrate a difficult case to “Bleach” or achieve a whiter smile. Patients that have darker teeth will have great results but it will require more time and material.  In this particular case the patient has teeth with a “grey shade” of color that is hard to create a brighter smile.  The after photo shows a lighter shade of grey and his smile was improved  The results from tooth whitening vary in every case it depends on many factors.   The tooth bleaching material must first be used correctly by the patient and provided a personalized plan.  Most “failed” bleaching case are due to patient error and lack of a customized plan for each patient.</p>
                    </div>
                    <div class="gallery-slide">
                        <img src="assets/gallery/09.jpg" alt="before and after image of great dental work" class="gallery-slide__image">
                        <p class="gallery-slide__text">This is an example of Bridge done in the early 90’s by today’s standards the esthetics are not great. The patient had severely damaged the tooth as a child and after many years it had a chronic infection.  The tooth was removed and allowed to heal.  An “old school” Porcelain and Gold bridge was placed the standard procedure at the time.   Today a Dental Implant or a Bridge made with only Porcelain for excellent esthetics would be used.   Given the very poor esthetic appearance prior to removal of the tooth the patient was very happy with the esthetic change. This case illustrates the improvement of materials and techniques over the last 20 years.</p>
                    </div>
                    <div class="gallery-slide">
                        <img src="assets/gallery/10.jpg" alt="before and after image of great dental work" class="gallery-slide__image">
                        <p class="gallery-slide__text">This patient is a fantastic example of a simple Smile Makeover with just using Teeth Whitening!The results were dramatic and the patient was pleased.</p>
                    </div>
                    <div class="gallery-slide">
                        <img src="assets/gallery/11.jpg" alt="before and after image of great dental work" class="gallery-slide__image">
                    </div>
                    <div class="gallery-slide">
                        <img src="assets/gallery/12.jpg" alt="before and after image of great dental work" class="gallery-slide__image">
                        <p class="gallery-slide__text">This case is a good example of one of the most difficult challenges we have in Cosmetic Dentistry. The challenge is to match a single crown to existing natural teeth and having it blend in.  In this case, the patient needed a crown to reduce the risk of fracture of her tooth due to a large filling in the back of her tooth.</p>
                    </div>
                    <div class="gallery-slide">
                        <img src="assets/gallery/13.jpg" alt="before and after image of great dental work" class="gallery-slide__image">
                        <p class="gallery-slide__text">Ruth M.</p>
                    </div>
                    <div class="gallery-slide">
                        <img src="assets/gallery/14.jpg" alt="before and after image of great dental work" class="gallery-slide__image">
                        <p class="gallery-slide__text">This case is a good example of tooth colored or cosmetic fillings.  In this particular case the patient was in her twenties and had an obvious carious lesion  or “cavity” in her back tooth.   The tooth colored material used for  the “white” tooth colored filling is called “composite“.   Composite material is soft resin or plastic with very small particles of  colored glass mixed in for strength.  For the back two teeth a strong composite was used to fill the cavity and replace an older filling that was starting to breakdown.  Two smaller premolar teeth were also “sealed” or filled with a composite material that flows into the grooves of the teeth and eliminates the chance of a future cavity.</p>
                    </div>
                    <div class="gallery-slide">
                        <img src="assets/gallery/15.jpg" alt="before and after image of great dental work" class="gallery-slide__image">
                        <p class="gallery-slide__text">This patient has Severe Multiple Sclerosis and is unable has partial use of one of his arms. His treatment required removal of several infected front teeth.  The before photo shows him in his provisional restorations while his is healing.  This patient was treated at no cost through Dental Lifeline Networks (DLN).   I would like to thank my local Dental Lab……Davis Dental for there skill and generosity in the donation of his bridge.  DLN helps patients that are disabled, medically fragile and elderly.   To learn more or Donate please visit:  www.dentallifeline.org</p>
                    </div>
                    <div class="gallery-slide">
                        <img src="assets/gallery/16.jpg" alt="before and after image of great dental work" class="gallery-slide__image">
                        <p class="gallery-slide__text">Ruth M.</p>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->