<section id="section-specials" class="services--grid-section page-section">
    <div class="heading center">
        <h2 class="heading__title">LIMITED TIME SPRING SPECIALS</h2>
        <h3 class="heading__byline">Offer ends June 20, 2017</h3>
        <h3 class="heading__sub-title">New uninsured patients only</h3>
    </div>

    <div class="container">
        <div class="specials__card-wrapper">

            {#Card One#}
            <div class="specials-card">
                <div class="specials-card__top">
                </div>
                <div class="specials-card__bottom">
                    <h3 class="specials-card__title">New Patient  Dental Exam</h3>
                    <div class="flex-wrapper">
                        <h2 class="specials-card__cost"> 75</h2>
                        <p class="specials-card__savings center">Save <br class="hidden-xs">$139</p>
                    </div>
                    <p class="specials-card__copy">Comprehensive exam by the doctor, including needed x&#8209;rays. <br class="specials-card__codes hidden-md hidden-lg">(D0150, D0272)</p>
                </div>
            </div>

            {#Card Two#}
            <div class="specials-card">
                <div class="specials-card__top">
                </div>
                <div class="specials-card__bottom">
                    <h3 class="specials-card__title">New Patient Dental Cleaning</h3>
                    <div class="flex-wrapper">
                        <h2 class="specials-card__cost"> 49</h2>
                        <p class="specials-card__savings center">Save <br class="hidden-xs">$74</p>
                    </div>
                    <p class="specials-card__copy">A new patient exam is required. Does not include periodontal&nbsp;therapy. <br class="specials-card__codes hidden-md hidden-lg">(D1110)</p>
                </div>
            </div>

            {#Card Three#}
            <div class="specials-card">
                <div class="specials-card__top">
                </div>
                <div class="specials-card__bottom">
                    <h3 class="specials-card__title">New Children’s Dental Exam</h3>
                    <div class="flex-wrapper">
                        <h2 class="specials-card__cost"> 69</h2>
                        <p class="specials-card__savings center">Save <br class="hidden-xs hidden-sm hidden-md hidden-lg">$227</p>
                    </div>
                    <p class="specials-card__copy">New patients age 12 and under get a professional dental cleaning, fluoride treatment, needed bitewing x-rays, and a comprehensive doctor’s exam.<br><span class="specials-card__codes card-three-codes--fix ">(D0150,&nbsp;D0272,&nbsp;D1208,&nbsp;D1120)</span></p>
                </div>
            </div>


        </div>
    </div>

</section>