<section id="section-specials" class="parallax">
    <div class="heading center">
        <h2 class="heading__title">Limited Time Summer Specials</h2>
        <h3 class="heading__byline">Offer Ends Sept 20, 2017</h3>
        <p class="heading__sub-title">Offers Good for New Uninsured Patients Only</p>
    </div>

    <div class="container">
        <div class="specials__card-wrapper">

            {#Card One#}
            <div class="specials-card">
                <div class="specials-card__top">
                    <h3 class="specials-card__title">New Patient <br>Dental Exam</h3>
                    <h2 class="specials-card__cost"> 54</h2>
                </div>
                <div class="specials-card__bottom">
                    <p class="specials-card__savings">SAVE $175</p>
                    <p class="specials-card__copy">Includes comprehensive exam by the doctor and necessary x‑rays.</p>
                    <p class="specials-card__codes">(D0150, D0210)</p>
                </div>
            </div>

            {#Card Two#}
            <div class="specials-card">
                <div class="specials-card__top">
                    <h3 class="specials-card__title">New Patient <br>Dental Cleaning</h3>
                    <h2 class="specials-card__cost"> 45</h2>
                </div>
                <div class="specials-card__bottom">
                    <p class="specials-card__savings">SAVE $81</p>
                    <p class="specials-card__copy">Includes a professional dental&nbsp;cleaning. A new patient exam is required.<br><strong>Does not include periodontal&nbsp;therapy.</strong></p>
                    <p class="specials-card__codes">(D1110)</p>
                </div>
            </div>

            {#Card Three#}
            <div class="specials-card">
                <div class="specials-card__top">
                    <h3 class="specials-card__title">New Children's <br>Cleaning & Exam</h3>
                    <h2 class="specials-card__cost"> 99</h2>
                </div>
                <div class="specials-card__bottom">
                    <p class="specials-card__savings">SAVE $216</p>
                    <p class="specials-card__copy">Patients 12 and under receive a professional dental cleaning, fluoride treatment, needed x‑rays, and a comprehensive exam. </p>
                    <p class="specials-card__codes">(D1120, D1208, D0210, D0150)</p>
                </div>
            </div>


        </div>
    </div>
</section>