<section id="section-tour" class="tour">

    <div class="container">
        <div class="heading center">
            <h2 class="heading__title">Office Tour</h2>
        </div>
    </div>

    <div class="full-width-wrapper">
        <div class="container tour--full-width">
            {% include 'molecules/tour__carousel.twig' %}
        </div>
    </div>

</section>