<section id="section-tour" class="tour tour__simple-slab">
    <div class="container">
        <div class="tour__wrapper">
            <div class="tour__text-section">
                <h2 class="tour__heading">Office Tour</h2>
                <p class="tour__copy">We look forward to meeting you and your family. Our fun, inviting office is a
                    refreshing place to relax while getting your children’s dental work done, so make an appointment
                    today!</p>
                <a href="#" data-target="#modal-tour" data-toggle="modal" class="btn">View Office Tour</a>
            </div>
            <img src="assets/tour-thumbs.jpg" alt="Preview of the office tour" class="tour__image">
        </div>
    </div>

    <div id="modal-tour" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Office Tour</h3>
                </div>
                <div class="modal-body tour-carousel">
                    <div class="owl-carousel js-tour-carousel" >

                        <img src="/assets/tour/1.jpg" alt="Fun stuffed animal">
                        <img src="/assets/tour/2.jpg" alt="Welcome sign at the office">
                        <img src="/assets/tour/3.jpg" alt="Very kid friendly office art">
                        <img src="/assets/tour/4.jpg" alt="Classic red kids' toys vending machine">

                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</section>