.associations-carousel {
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;

  .logo-wrapper {
    text-align: center;
  }

  img {
    max-width: 160px;
    margin-left: auto;
    margin-right: auto;
  }
}
