<div class="hours-table">
    <h5>Office Hours:</h5>
    {#<table >#}
        {#<tbody>#}
        {#<tr>#}
            {#<th class="t400">Mon</th>#}
            {#<td>8:00am - 6:00pm</td>#}
        {#</tr>#}
        {#<tr>#}
            {#<th class="t400">Tues</th>#}
            {#<td>7:00am - 3:00pm</td>#}
        {#</tr>#}
        {#<tr>#}
            {#<th class="t400">Wed</th>#}
            {#<td>8:00am - 6:00pm</td>#}
        {#</tr>#}
        {#<tr>#}
            {#<th class="t400">Thurs</th>#}
            {#<td>7:00am - 3:00pm</td>#}
        {#</tr>#}
        {#<tr>#}
            {#<th class="t400">Closed</th>#}
            {#<td>Friday - Sunday</td>#}
        {#</tr>#}
        {#</tbody>#}
    {#</table>#}
    <p>Mon-Thurs</p>
    <p>8:00am-5pm</p>
</div>