
#google-map,
#google-map5,
.google-map iframe {
  height: 200px !important;

  @media (min-width: $width-xs) {
    height: 250px !important;
  }

  @media (min-width: $width-sm) {
    height: 610px !important;
  }

  @media (min-width: $width-md) {
    height: 650px !important;
  }

  @media (min-width: $width-lg) {
    height: 650px !important;
  }
}
