<section id="section-tour">
    <div class="heading">
        <div class="container center">
            <h2>Office Tour</h2>
            <p>We look forward to meeting you and your family. Our beautiful, Inviting office is a refreshing place to
                relax while getting your dental work done. We welcome children too, so make an appointment today!</p>
        </div>
    </div>

    <section id="slider" class="boxed-slider">

        <div class="container clearfix">

            <div class="fslider" data-animation="fade" data-thumbs="true" data-arrows="false" data-speed="1200" data-pause="7000">
                <div class="flexslider">
                    <div class="slider-wrap">

                        <div class="slide" data-thumb="assets/office-tour/1.jpg">
                            <img src="assets/office-tour/1.jpg" alt="Tour Slide">
                        </div>
                        <div class="slide" data-thumb="assets/office-tour/2.jpg">
                            <img src="assets/office-tour/2.jpg" alt="Tour Slide">
                        </div>
                        <!--<div class="slide" data-thumb="assets/office-tour/3.jpg">-->
                        <!--<a href="#">-->
                        <!--<img src="assets/office-tour/3.jpg" alt="Tour Slide">-->
                        <!--</a>-->
                        <!--</div>-->
                        <div class="slide" data-thumb="assets/office-tour/4.jpg">
                            <img src="assets/office-tour/4.jpg" alt="Tour Slide">
                        </div>
                        <div class="slide" data-thumb="assets/office-tour/5.jpg">
                            <img src="assets/office-tour/5.jpg" alt="Tour Slide">
                        </div>
                        <div class="slide" data-thumb="assets/office-tour/6.jpg">
                            <img src="assets/office-tour/6.jpg" alt="Tour Slide">
                        </div>
                        <div class="slide" data-thumb="assets/office-tour/7.jpg">
                            <img src="assets/office-tour/7.jpg" alt="Tour Slide">
                        </div>
                        <!--<div class="slide" data-thumb="assets/office-tour/8.jpg">-->
                        <!--<a href="#">-->
                        <!--<img src="assets/office-tour/8.jpg" alt="Tour Slide">-->
                        <!--</a>-->
                        <!--</div>-->
                        <div class="slide" data-thumb="assets/office-tour/9.jpg">
                            <img src="assets/office-tour/9.jpg" alt="Tour Slide">
                        </div>
                        <div class="slide" data-thumb="assets/office-tour/10.jpg">
                            <img src="assets/office-tour/10.jpg" alt="Tour Slide">
                        </div>
                        <!--<div class="slide" data-thumb="assets/office-tour/11.jpg">-->
                        <!--<a href="#">-->
                        <!--<img src="assets/office-tour/11.jpg" alt="Tour Slide">-->
                        <!--</a>-->
                        <!--</div>-->
                        <div class="slide" data-thumb="assets/office-tour/12.jpg">
                            <img src="assets/office-tour/12.jpg" alt="Tour Slide">
                        </div>
                        <div class="slide" data-thumb="assets/office-tour/13.jpg">
                            <img src="assets/office-tour/13.jpg" alt="Tour Slide">
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </section>

</section>