<div class="section-logo-slab">
    <div class="container logo-wrapper">
        <div class="logo"><img src="assets/associations/ada-logo_gs.png" alt="ADA"></div>
        <div class="logo"><img src="assets/associations/diplomat_abpd.png" alt="Diplomate ABPD"></div>
        <div class="logo"><img src="assets/associations/wisconsin-dental-assoc.png" alt="Wisconsin Dental Association"></div>
        <div class="logo"><img src="assets/associations/kenosha-county-dental-society.png" alt="Kenosha County Dental Association"></div>
    </div>
</div>