<div class="owl-carousel js-review-carousel">
    <div class="review-card">
        <img src="assets/review_stars.png" alt="five stars">
        <h3 class="review-card__byline">"The Best!"</h3>
        <p class="review-card__copy">IT IS THE BEST!!! They do an amazing job with the kids teeth and they keep the parents and kids on their toes about having good hygiene. I would recommend this pediatric dentist to all parents.</p>
        <div class="review-card__quoter">- Daynna</div>
    </div>
    <div class="review-card">
        <img src="assets/review_stars.png" alt="five stars">
        <h3 class="review-card__byline">"Amazing!"</h3>
        <p class="review-card__copy">We had the most amazing time at the Dentist today with Dr. Howard and all of our cousins!!!! They are all so patient and friendly. It's weird but.....can't wait to go back, especially to hear another knock knock joke.!</p>
        <div class="review-card__quoter">- Althea</div>
    </div>
    <div class="review-card">
        <img src="assets/review_stars.png" alt="five stars">
        <h3 class="review-card__byline">"Incredible!"</h3>
        <p class="review-card__copy">I absolutely LOVE this practice!! The entire staff is incredible and definitely live up to their name: A PLUS!! I have 3 children, ages 2, 4 and 11. Our oldest started at another practice before we learned about this one, and A+ is head and shoulders, without a doubt, 10 times better!! So glad our littles will only know the BEST in the business!</p>
        <div class="review-card__quoter">- Williams</div>
    </div>
    <div class="review-card">
        <img src="assets/review_stars.png" alt="five stars">
        <h3 class="review-card__byline">"Kid Friendly!"</h3>
        <p class="review-card__copy">Dr. Howard and his team are amazing. They are prompt, kind, kid friendly, and most importantly, they love what they do. He is the best dentist EVER. I want to be a kid again.</p>
        <div class="review-card__quoter">- Ty</div>
    </div>
    <div class="review-card">
        <img src="assets/review_stars.png" alt="five stars">
        <h3 class="review-card__byline">"We Love It!"</h3>
        <p class="review-card__copy">We love this practice. We are a new family with a 5 and 9 year old. We have done 4 extractions and my oldest still says he loves his dentist! I think that says it all.</p>
        <div class="review-card__quoter">- Tia </div>
    </div>
    <div class="review-card">
        <img src="assets/review_stars.png" alt="five stars">
        <h3 class="review-card__byline">"Great!"</h3>
        <p class="review-card__copy">Amazing environment. The staff is extremely friendly and attentive. They make the child's experience go great. Best pediatric dentist I've ever seen.</p>
        <div class="review-card__quoter">- James</div>
    </div>
    <div class="review-card">
        <img src="assets/review_stars.png" alt="five stars">
        <h3 class="review-card__byline">"Awesome!"</h3>
        <p class="review-card__copy">We appreciated the awesome communication between staff and the courteous treatment by all. We loved our experience!</p>
        <div class="review-card__quoter">- Marvia</div>
    </div>
    <div class="review-card">
        <img src="assets/review_stars.png" alt="five stars">
        <h3 class="review-card__byline">"Great People!"</h3>
        <p class="review-card__copy">I absolutely love this place. My daughter start going here when she was a toddler and we're still here . Great people, great dentist!!!</p>
        <div class="review-card__quoter">- Jada</div>
    </div>
    <div class="review-card">
        <img src="assets/review_stars.png" alt="five stars">
        <h3 class="review-card__byline">"Compassion!"</h3>
        <p class="review-card__copy">The office environment is Caring, Compassionate, and fun filled. From the business office to the technicians in back, everyone is helpful and and goes above and beyond to be accommodating.</p>
        <div class="review-card__quoter">- Ivey</div>
    </div>
    <div class="review-card">
        <img src="assets/review_stars.png" alt="five stars">
        <h3 class="review-card__byline">"Gifted!"</h3>
        <p class="review-card__copy">Dr. Howard has gifted hands, a reverent demeanor and a spectacular team! I thank God for him and his anointing. Thank you for saving Micah's beautiful smile. Bless you & the entire practice! Love the Tilton-Taylor family.</p>
        <div class="review-card__quoter">- Tanya</div>
    </div>

    <div class="review-card">
        <img src="assets/review_stars.png" alt="five stars">
        <h3 class="review-card__byline">"Comfortable!"</h3>
        <p class="review-card__copy">Cannot say enough nice things about the whole team at A+ ! My toddler is usually terrified of doctors' offices, and everyone at A+ made her feel completely at home and comfortable.</p>
        <div class="review-card__quoter">- Megan</div>
    </div>
    <div class="review-card">
        <img src="assets/review_stars.png" alt="five stars">
        <h3 class="review-card__byline">"We Love it!!"</h3>
        <p class="review-card__copy">Love the interaction they have with the kids and that they make sure the make the kids and parent feel comfortable I love it</p>
        <div class="review-card__quoter">- Myraia</div>
    </div>
    <div class="review-card">
        <img src="assets/review_stars.png" alt="five stars">
        <h3 class="review-card__byline">"Wonderful!"</h3>
        <p class="review-card__copy">Took my 17 month old daughter for her first dental check up today and it was such a wonderful experience. Dr. Howard and the staff are so warm and wonderful. They cater to a young crowd and strive to make the little ones comfortable.</p>
        <div class="review-card__quoter">- Kathryn</div>
    </div>
    <div class="review-card">
        <img src="assets/review_stars.png" alt="five stars">
        <h3 class="review-card__byline">"Adore the Staff!"</h3>
        <p class="review-card__copy">I absolutely adore the staff at A+Dentistry. My kids always enjoy their visits.</p>
        <div class="review-card__quoter">- Denika</div>
    </div>
    <div class="review-card">
        <img src="assets/review_stars.png" alt="five stars">
        <h3 class="review-card__byline">"Knowledgeable!"</h3>
        <p class="review-card__copy">A friend referred us to Dr. Howard. He is professional, empathetic, courteous and gives you his quality time to make sure you understand what is going on and trust that he is knowledgeable and keeping up with the situation.</p>
        <div class="review-card__quoter">- Lea</div>
    </div>
<div class="review-card">
    <img src="assets/review_stars.png" alt="five stars">
        <h3 class="review-card__byline">"The Best!"</h3>
        <p class="review-card__copy">They are the best, they treat you like family! Kids look forward to going every time! Love A+!!!</p>
        <div class="review-card__quoter">- Bryant</div>
    </div>
<div class="review-card">
    <img src="assets/review_stars.png" alt="five stars">
        <h3 class="review-card__byline">"Patient!"</h3>
        <p class="review-card__copy">Dr. Howard is awesome! He and all of his staff are patient, considerate, and treat the little patients so respectfully.</p>
        <div class="review-card__quoter">- Kelley</div>
    </div>
<div class="review-card">
    <img src="assets/review_stars.png" alt="five stars">
        <h3 class="review-card__byline">"Professional!"</h3>
        <p class="review-card__copy">When I arrived, I was told I was a month early for our appointment. The office manager Tori was able to squeeze us in. They were extremely professional about the whole ordeal. The office is pristine and child friendly.</p>
        <div class="review-card__quoter">- Miller</div>
    </div>
<div class="review-card">
    <img src="assets/review_stars.png" alt="five stars">
        <h3 class="review-card__byline">"The Best Care!"</h3>
        <p class="review-card__copy">We love everyone at A+, they are so wonderful! We had horrible experiences at a few other offices before finding Dr.Howard. My son gets so excited to go to the dentists now and we know our kids are getting the best dental care available.</p>
        <div class="review-card__quoter">- Amanda</div>
    </div>
<div class="review-card">
    <img src="assets/review_stars.png" alt="five stars">
        <h3 class="review-card__byline">"Friendly!"</h3>
        <p class="review-card__copy">I love the energy, friendliness, and professionalism.</p>
        <div class="review-card__quoter">- Paige</div>
    </div>

</div>