<div class="services--more">
    <div class="heading">
        <h2 class="heading__title">More Services</h2>
        <h3 class="heading__byline">Click an item below to learn more</h3>
    </div>
    <div class="container">
        <div class="row">
            <a href="#" data-target="#services--cerec" data-toggle="modal" class="col-sm-6 service-card service-card--big">
                <img src="assets/services/cerec.jpg" alt="Cerec Treatment">
                <h3 class="service-card__title">Cerec</h3>
                <h4 class="service-card__byline">One-Visit Restorations</h4>
                <h6 class="service-card__learn-more">Learn More</h6>
            </a>
            <a href="#" data-target="#services--invisalign" data-toggle="modal" class="col-sm-6 service-card service-card--big">
                <img src="assets/services/invisalign.jpg" alt="Invisalign">
                <h3 class="service-card__title">Invisalign</h3>
                <h4 class="service-card__byline">Orthodontic Aligners</h4>
                <h6 class="service-card__learn-more">Learn More</h6>
            </a>
        </div>
        <div class="row">
            <a href="#" data-target="#services--smile" data-toggle="modal" class="col-sm-3 col-xs-6 service-card service-card--small">
                <img src="assets/services/whitening.jpg" alt="Smile Whitening">
                <h3 class="service-card__title">Smile Whitening</h3>
                <h6 class="service-card__learn-more">Learn More</h6>
            </a>
            <a href="#" data-target="#services--xray" data-toggle="modal" class="col-sm-3 col-xs-6 service-card service-card--small">
                <img src="assets/services/digital-xray.jpg" alt="Digital X-ray">
                <h3 class="service-card__title">Digital X-ray</h3>
                <h6 class="service-card__learn-more">Learn More</h6>
            </a>
            <a href="#" data-target="#services--veneers" data-toggle="modal" class="col-sm-3 col-xs-6 service-card service-card--small">
                <img src="assets/services/veneers.jpg" alt="Veneers">
                <h3 class="service-card__title">Veneers</h3>
                <h6 class="service-card__learn-more">Learn More</h6>
            </a>
            <a href="#" data-target="#services--mercury" data-toggle="modal" class="col-sm-3 col-xs-6 service-card service-card--small">
                <img src="assets/services/mercury-free.jpg" alt="Mercury Free">
                <h3 class="service-card__title">Mercury Free</h3>
                <h6 class="service-card__learn-more">Learn More</h6>
            </a>
        </div>
    </div>
</div>