<div class="section-care-credit-slab">
    <div class="container">
        <h6 class="text">Financing available from</h6>
        <a href="https://www.carecredit.com/" target="_blank"><img src="/assets/care-credit-footer.png" alt="Care Credit"></a>
    </div>
</div>