<div class="team-carousel">
    <div class="container">
        <div class="owl-carousel js-team-carousel">
            {% include 'molecules/team__cards.twig' %}
        </div>
    </div>
</div>
{% include 'molecules/team__modals.twig' %}