<div class="owl-carousel js-tour-carousel">
    <div>
        <img src="/assets/tour/1.jpg" alt="Outside the office">
    </div>
    <div>
        <img src="/assets/tour/2.jpg" alt="Waiting Room">
    </div>
    <div>
        <img src="/assets/tour/3.jpg" alt="Reception Desk">
    </div>
    <div>
        <img src="/assets/tour/4.jpg" alt="Comfortable waiting room chairs">
    </div>
    <div>
        <img src="/assets/tour/5.jpg" alt="Great art in the office">
    </div>
    <div>
        <img src="/assets/tour/6.jpg" alt="Comfortable waiting room">
    </div>
    <div>
        <img src="/assets/tour/7.jpg" alt="Clean well-lit office hallway">
    </div>
    <div>
        <img src="/assets/tour/8.jpg" alt="Great office art">
    </div>
    <div>
        <img src="/assets/tour/9.jpg" alt="Our kitchen">
    </div>
    <div>
        <img src="/assets/tour/10.jpg" alt="Our kitchen">
    </div>
    <div>
        <img src="/assets/tour/11.jpg" alt="The inside of our rooms">
    </div>
    <div>
        <img src="/assets/tour/12.jpg" alt="The inside of our rooms">
    </div>
</div>