<div class="video-promo-full-slab">
    <img src="assets/location-video-bkgd.jpg" alt="Docter Kennedy's Office" class="video-promo-full-slab__background-image">
    <div class="video-promo-full-slab__text">
        <a href="#" data-target="#about-video" data-toggle="modal">
            <img src="assets/video-arrow.png" alt="Play video symbol">
            <h3 class="text">Watch Our Video</h3>
        </a>
    </div>
</div>
<div id="about-video" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">About Us</h4>
            </div>
            <div class="modal-body">
                <iframe src="https://player.vimeo.com/video/213754396" width="640" height="360" allowfullscreen id="vimeo-video"></iframe>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->