<div id="video-promo">
    <div class="container">
        <div class="heading">
            <h2>Watch Our Video</h2>
        </div>
        {% include 'atoms/iframe-video--16x9.twig' %}
    </div>
</div>