.about {
  background-color: #fff;

  .heading {
    background: #d9eaf4;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

    &__main {
      color: #1d5575;
      font-weight: 700;
      font-style: italic;
      margin-bottom: 0;
      line-height: 1;
    }

    &__byline {
      color: #f06123;
      font-weight: 700;
      font-style: italic;
      margin-bottom: 0;
    }
  }

  &__video-slab {
    background: linear-gradient(#d9eaf4 50%, #fff 50%);

    &__video {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
      border: solid 15px #fff;
    }
  }

  //main slab
  &__doctor-slab {
    @media (min-width: 768px) {
      background-image: url(/assets/bio.jpg);
      background-size: contain;
      background-position: right -100px bottom;
      background-repeat: no-repeat;
      padding-top: 30px;
    }
  }

  .doctor {
    padding-top: 30px;
    padding-bottom: 30px;

    @media (min-width: 768px) {
      width: 50%;
      padding-bottom: 15px;
    }

    @media (min-width: 992px) {
      width: 50%;
      padding-bottom: 30px;
    }

    &__wrapper {
      @media (min-width: 768px) {
        display: flex;
        justify-content: flex-start;
      }
    }

    &__name {
      color: #1d5575;
      font-weight: 700;
      font-style: italic;
      margin-bottom: 20px;
      line-height: 1.2;

      @include font-size(44px, 40px, 36px, 36px, 26px);

      small {
        color: #1d5575;
        font-family: $ff-open;
        font-weight: 700;

        @include font-size(40px, 37px, 32px, 32px, 24px);
      }
    }

    &__byline {
      font-family: $ff-dosis;
      font-weight: 700;
    }

    &__copy {
      color: #1c1836;
      line-height: 1.4;
      padding-bottom: 20px;
    }

    &__mobile-image img {
      width: 100%;
      margin-top: -20px;

      @media (min-width: 768px) {
        display: none;
      }
    }
  }

  &__associations-slab {
    background-color: #e8f1fa;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  //team slab
  &__team-slab {
    background-color: #1e5879;
    padding-top: 45px;
    padding-bottom: 45px;

    &__title {
      color: #fff;
    }

    .heading {
      background-color: #1e5879;
      padding-top: 0;
      padding-bottom: 30px;

      &__title {
        color: #fff;
        font-style: italic;
        line-height: 1;
        margin-bottom: 10px;
      }

      &__byline {
        color: #fff;
        font-weight: 600;
      }
    }
  }

  .team-carousel {
    position: relative;

    .owl-carousel,
    & > .container {
      position: static !important;
    }
  }
}
