/// Call to Action Two to One Layout
.cta {
  border-top: solid 4px #fff;
  background-color: #00659f;
  background-position: center;
  z-index: 100;
  position: relative;
  padding-bottom: 1em;
  padding-top: 1em;

  //TODO refactor shadow to be BEM modifier in classes
  &.shadow {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
  }

  &--background-two {
    background-color: #e4f3e9;
  }

  .flex--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;

    @media screen and (max-width: $width-md) {
      flex-direction: column;
      align-items: center;
    }
  }

  .flex--item {
    width: 45%;
    padding: 0 15px;

    @media screen and (max-width: $width-md) {
      width: 100%;
    }
  }

  .vertical-break {
    width: 2px;
    height: 30px;
    background-color: white;
  }

  .new-patient {
    text-align: right;
    padding: 0 30px;

    .text {
      font-style: italic;
      color: #fff;
      margin-bottom: 0;
      font-weight: 400;
      font-size: 24px;
    }

    &-number {
      color: #fff;
      font-family: $ff-lato;
      font-weight: 900;
      font-style: normal;
      margin-bottom: 0;
      padding-top: 5px;
      padding-bottom: 10px;
      line-height: 1;

      @include font-size(48px, 40px, 36px, 28px, 28px);

      a {
        @include link-color(#fff);

        &:hover {
          text-decoration: none;
        }
      }
    }

    @media screen and (max-width: $width-md) {
      border-left: 0;
      text-align: center;
      padding-bottom: 15px;
      order: -1;

      &-number {
        padding-bottom: 0;
      }
    }
  }

  .btn {
    &--wrapper {
      padding: 5px 30px;
      margin-right: -1px;
      border-left: 2px solid #fff;
      text-align: left;

      @media screen and (max-width: $width-md) {
        padding-bottom: 0;
        text-align: center;
        padding-right: 0;
        padding-left: 0;
        border-right: none;
        border-left: 0;
      }
    }
  }

  .existing-patient {
    color: #fff;
    line-height: 1;
    font-size: 24px;
    margin-bottom: 0;
    font-style: italic;

    @media (max-width: 992px) {
      text-align: center;
    }

    .phone-number--existing {
      @include link-color(#fff);

      &:hover {
        text-decoration: none;
      }
    }
  }

  .btn--wrapper {
    @media screen and (max-width: $width-md) {
      padding-bottom: 10px;
    }
  }
}
