#section-location {
  padding-bottom: 60px;
  background-image: url(/assets/blue-background-bottom.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.location.location__two-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .location__map,
  .location__card--wrapper {
    width: 100%;
  }

  .location__map {
    margin-top: 45px;
  }

  @media (min-width: 768px) {
    flex-direction: row;

    .location__card--wrapper {
      width: 50%;
    }

    .location__map {
      margin-top: 0;
      width: 50%;
      height: 100%;
    }
  }

  @media (min-width: 1200px) {
    .location__map,
    .location__card--wrapper {
      width: 50%;
    }
  }
}
