#slider {
  height: 36.45833vw !important;

  //.swiper-slide.slide1 {
  //  background-image: url('assets/slide1.jpg');
  //  background-position: 30% center;
  //}
  //.swiper-slide.slide2 {
  //  background-image: url('assets/slide3.jpg');
  //}
  //.swiper-slide.slide3 {
  //  background-image: url('assets/slide2.jpg');
  //  background-position: 30% center;
  //}

  .swiper-slide {
    > img {
      width: 100%;
    }

    .container {
      height: 100%;
    }

    .row {
      transform: translateY(-50%);
      top: 50%;
      position: relative;
    }
  }

  .btn {
    margin-top: 45px;
  }

  .slide1 {
    //.slide__title {
    //  color: #2c2340;
    //  font-family: $ff-dancing;
    //  line-height: 0.8;
    //  font-weight: 400;
    //  margin-bottom: 0;
    //
    //  @include font-size(44px, 41px);
    //}
    //
    //.slide__title-smile {
    //  color: #016e92;
    //  font-family: $ff-raleway;
    //  font-weight: 700;
    //  margin-bottom: 60px;
    //  line-height: 1;
    //  text-shadow: 4px 3px 13px #fff;
    //
    //  @include font-size(95px, 76px);
    //}
    text-align: right;

    .slide__copy {
      color: #183163;
      padding-top: 40px;
      line-height: 1;
      font-family: $ff-lato;

      @include font-size(36px, 32px, 28px, 26px, 24px);
    }
  }

  .slide2 {
    .slide__title {
      color: #f05423;
      font-weight: 700;
      margin-bottom: 0;
      line-height: 1;

      &::first-line {
        color: #1d5575;
        font-weight: 900;
      }

      @include font-size(53px, 48px);
    }

    .stars {
      padding-top: 20px;
      padding-bottom: 25px;
    }

    .copy {
      color: #332a46;
      font-weight: 400;
      margin-bottom: 25px;
      padding-right: 45px;
      line-height: 1.4;
      letter-spacing: -1px;

      @include font-size(20px, 18px, 18px, 20px, 19px);
    }
  }

  .slide3 {
    .title--no-insure {
      color: #1d5575;
      margin-bottom: 5px;
      line-height: 1;

      @include font-size(83px, 75px, 35px);
    }

    .title--sub {
      color: #f05423;
      font-weight: 700;
      font-style: italic;
      line-height: 1;
      margin-bottom: 10px;

      @include font-size(43px, 35px, 35px);
    }

    .preventative-copy {
      color: #303030;
      line-height: 1;
      padding-top: 10px;

      @include font-size(38px, 32px);
    }

    .btn {
      @include lr-padding(80px, 60px, 60px);
    }
  }

  .icon-star3 {
    color: $c-star;
  }

  .slide-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

#mobile-background {
  display: none;

  @media (max-width: $width-md) {
    display: block;
    position: relative;
  }
}

.swiper_wrapper {
  height: auto;
}
