.gallery {
  $c-no-insurance: #5a710d;
  $c-sub-header: #5a710d;
  $c-preventative: #323437;
  $c-copy: #323437;
  $c-mobile-bg: #fff;

  padding-top: 50px;
  background-image: url('/assets/smile-gallery.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  @media (max-width: $width-sm - 1) {
    background-color: $c-mobile-bg;
    background-image: none;

    .row > div {
      text-align: center;
    }
  }

  &__title {
    font-family: $ff-mont;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 1.1;
    color: $c-no-insurance;
  }

  &__copy {
    font-family: $ff-roboto-condensed;
    font-weight: 400;
    margin-bottom: 75px;
    color: #323437;
    line-height: 1.5 !important;
  }

  .btn {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 100px;

    @include lr-padding(80px, 70px, 60px, 60px, 40px);
  }

  //Fix for insurance background on mobile
  .mobile-insurance-fix {
    display: none;

    @media (max-width: $width-sm - 1) {
      margin-top: -100px;
      display: block;
    }
  }

  .js-gallery-carousel {
    display: none;
  }
}

#smile-gallery-modal {
  .owl-carousel .owl-nav [class*=owl-] {
    right: 0;
    top: 5%;
    background-color: rgba(89, 89, 85, 0);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .owl-carousel:hover .owl-nav [class*=owl-] img {
    transition: display 0.3s ease;
  }

  .owl-carousel .owl-nav .owl-prev {
    left: 0;
  }

  .owl-carousel:hover .owl-nav .owl-next {
    right: 0;
  }

  .owl-carousel:hover .owl-nav .owl-prev {
    left: 0;
  }

  .owl-carousel .owl-nav [class*=owl-]:hover {
    color: $c-white !important;
    text-decoration: none;
  }
}
