<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Accessibility Statement</title>
    <meta name="description" content="accessibility statement">


    <style type="text/css">

        body {
            font-size: 1.3em;
            margin-bottom: 1em;
        }

        article {
            max-width: 920px;
            margin: 0 auto;
        }

        h1 {
            text-align: center;
            margin: 1em 0;
            padding-bottom: 1em;
            border-bottom: 1px solid rgba(0, 0, 0, .2);
        }

        section {
            padding: .5em;
        }
    </style>
</head>
<body>
<div class="container">
    <article>
        <h1>ADA Accessibility Statement</h1>
        <section id="introduction">
            <h2>Introduction</h2>
            <p>Thank you for visiting the website of <strong>{{ mainDoctor }}</strong>! We are continuously working to improve the accessibility of content on
                our website in order to better serve our patients.</p>
            <p>If you have trouble seeing our website, we recommend reviewing the resources, and step-by-step guides found at
                the following website:</p>
            <a href="https://www.w3.org/WAI/users/browsing"><u>www.w3.org/WAI/users/browsing</u></a>
            <p>The guide above, referenced by the ada.gov website will help you customize your particular web browser and
                computer to achieve the best results.</p>
            <p>Our site is designed to be able to be read aloud, navigated by keyboard only, allow increased or decreased text
                size, or changing of its colors for your accessibility needs.</p>
        </section>
        <hr>
        <section id="closed-captioning">
            <h2>Closed Captioning</h2>
            <p>Closed captioning provides a transcript for the audio track of a video presentation that is synchronized with
                the video and audio tracks. Captions are generally visually displayed over the video, which benefits people who
                are deaf or hard of hearing, and anyone who cannot hear the audio due to noisy environments. Most of our video
                content includes captions. Learn how to turn captioning on and off for
                <a href="https://support.google.com/youtube/answer/100078?co=GENIE.Platform=Desktop&hl=en-GB&oco=1">YouTube by clicking here.</a></p>
        </section>
        <hr>
        <section id="volume-controls">
            <h2>Volume Controls</h2>
            <p>Your computer, tablet, or mobile device has volume control features. Each video and audio service has its own
                additional volume controls. Try adjusting both your device’s volume controls and your media players’ volume
                controls to optimize your listening experience.</p>
        </section>
        <hr>
        <section id="additional-information">
            <h2>Additional Information</h2>
            <p>If the recommendations above do not meet your individual needs, we invite you to contact our office at <a
                        href="tel:{{ existingPhone }}">{{ existingPhoneNoBreak }}</a> for assistance.</p>
        </section>
    </article>
</div>
</body>
</html>